@import "./variables";

$arrow-height: 24px;

.scrollBtn {
    cursor: pointer;
    background-color: #F96666;
    padding: 0.5rem;
    border-radius: 50%;
    position: fixed;
    margin-right: 1rem;
    margin-bottom: 1rem;
    bottom: 0;
    right: 0;
    display: none;
    z-index: 100;

    .upArrow {
        transition: transform 0.2s ease-out;
    }

    &:hover .upArrow {
        transform: scale(1.1);
    }
}

.visiable {
    display: block;
    animation: buttonPopUp 1s ease-out forwards;
    &:hover {
        opacity: 1;
        animation-fill-mode: none;
    }
}

@keyframes buttonPopUp {
    0% {
        opacity: 0;
    }
    75% {
        opacity: 1;
        transform: scale(1.05);
    }
    100% {
        opacity: .8;
        transform: scale(1);
    }
}
