// font
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700&display=swap');


// colors 
$clr-bg: white;
$clr-accent-pink: #F2B950;
$clr-accent-yellow: #F2D335;
$clr-accent-purple: #6C63FF;
$clr-accent-grey: #979DA6;
$clr-accent-brown: #8C862A;
$clr-accent-lightyellow: #F2E530;
$clr-dark-grey: #5E5454;

// font
$font-main: 'Poppins', sans-serif;
$font-weight-bold: 700;
$font-weight-normal: 400;
$font-weight-light: 300;
$font-weight-thin: 100;

// break points
$break-large: 900px;
$break-medium: 768px;
$break-small: 576px;
$break-xsmall: 400px;

// border animation
$border-radius-s: 80% 20% 76% 24% / 42% 47% 53% 58%;
$border-radius-e: 19% 81% 23% 77% / 42% 47% 53% 58%;
$border-radius-transition-time: .5s;

$border-radius-general: 10px;

